<div>
	<form>
		Име:
		<input type="text" name="firstName"><br>
		Презиме:
		<input type="text" name="middleName"><br>
		Фамилия:
		<input type="text" name="lastName"><br>
		E-mail:
		<input type="text" name="email"><br>
		Адрес:
		<input type="text" name="address"><br>
		Телефон:
		<input type="text" name="telephone"><br>
		Парола:
		<input type="password" name="password"><br>
		Повтори паролата:
		<input type="password" name="passwordConfirmation"><br><br>
		<button type="button">Регистрация</button>
	</form>
</div>